<div class="panel panel-primary" *ngIf="post">
    <div class="panel-heading">    {{post.title}}</div>
    <div class="panel-body">
        <article><div [innerHTML]="post.body"></div></article>
    </div>
    <div class="panel-footer">
        <a class="btn btn-default" (click)="onBack">
            <i class='glyphicon glyphicon-chevron-left'></i> Back
        </a>

    </div>

</div>
{{post.comments.length}}
<!--<div *ngIf="post.comments">
    <div *ngFor="let comment of post.comments | json">
        <div class="panel panel-default">
            <div class="panel-heading"> </div>
            <div class="panel-body">
                <article><div [innerHTML]="comment.body"></div></article>
            </div>

        </div>
    </div>
</div>-->
