<legend>Registration Form</legend>
<form #theForm="ngForm" (ngSubmit)="onSubmit(theForm)">
    <div class="form-group">
        <label for="name" class="control-label">Email</label>
        <input type="email" id="email" name="email" form-input [ngModel]="email" 
               placeholder="Email" required/>
    </div>
    <div class="form-group">
        <label for="firstname" class="control-label">Firstname</label>
        <input type="text" id="firstname" name="firstname"  form-input  [ngModel]="username" 
               placeholder="Firstname" required=""/>
    </div>
    <div class="form-group">
        <label for="lastname" class="control-label">Lastname</label>
        <input type="text" id="lastname" name="lastname"  form-input [ngModel]="lastname"
                placeholder="Lastname" required/>
    </div>
    <div class="form-group">
        <label for="birthdate" class="control-label">Birthdate</label>
        <input type="datetime" id="birthdate" name="birthdate"  form-input  [ngModel]="birthday" 
               placeholder="Birthday DD.MM.YYYY" pattern="(0[1-9]|1[0-9]|2[0-9]|3[01]).(0[1-9]|1[012]).[0-9]{4}" />
    </div>
    <div class="form-group">
        <label for="password" class="control-label">Password</label>
        <input type="password" id="password" name="password"  form-input [ngModel]="password" 
               placeholder="Password"  pattern="[A-Za-z0-9]{8,10}"/>
    </div>
    <div class="form-group">
        <label for="rePassword" class="control-label" >Re. Password</label>
        <input type="password" id="password" name="password"  form-input [ngModel]="rePassword" 
               placeholder="Retype Password" pattern="[A-Za-z0-9]{8,10}"/>
    </div>
    <div class="form-group form-control-btn">
        <button type="submit" class="btn btn-block">Sign Up</button>
    </div>
</form>
