<div class="container">
    <h1>Leave a comment</h1>
    {{diagnostic}}
    
    <form>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" required
                   [(ngModel)]="model.email" name="email"/>
        </div>
        <div class="form-group">
            <label for="username">Body</label>
            <input type="text" class="form-control" id="username" 
                   [(ngModel)]="model.username" name="username" />
            TODO: remove this: {{model.usernames}}
        </div>
        <div class="form-group">
            <label for="body">Body</label>
            <input type="text" class="form-control" id="body" 
                   [(ngModel)]="model.body" name="body" />
            TODO: remove this: {{model.body}}
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>