<div class="container">
    <h1>Leave a comment</h1>
    add-comment , Diagnostic : {{diagnostic}}
    <!--(ngSubmit)="onSubmit(commentForm.form)" #commentForm="ngModel">-->
    <!--#myForm="ngForm" (ngSubmit)="onSubmit(myForm)">-->
    <!--<div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                Email is required
            </div>-->


    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" required
               name="email" #spy />
        TODO: remove this: {{spy.className}}
        TODO: remove this: {{comment.email}}

    </div>
    <div class="form-group">
        <label for="username">Your name: </label>
        <input type="text" class="form-control" id="username" 
               name="username" />
        TODO: remove this: {{comment.username}}
    </div>
    <div class="form-group">
        <label for="body">Body</label>
        <input type="text" class="form-control" id="body"
               name="body" />
        TODO: remove this: {{comment.body}}
    </div>
    <button type="submit" class="btn btn-default" (click)='onSubmit()'>Submit</button> <!--[disabled]="!commentForm.form.valid"-->

</div>