<div class="container">
    <h1>Leave a comment</h1>
    <p>
        Diagnostic : {{diagnostic}}
        form.valid: {{form.valid}}
        spy: {{spy.className}}
    </p>
    <form #form="ngForm" (ngsubmit)="onSubmit">

        <div class="form-group" [ngClass]="{ 'has-error': username.invalid && username.touched }" #spy>
            <input type="text" class="form-control" name="username" required
                   [(ngModel)]="comment.username" #username="ngModel" placeholder="Username" />
            <span class="help-block" *ngIf="username.invalid && username.touched">Usename is required</span>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': email.invalid && email.touched}">
            <input type="text" class="form-control" name="email" required
                   [(ngModel)]="comment.email" #email="ngModel" placeholder="Email Address" />
            <span class="help-block" *ngIf="email.invalid && email.touched">Email is required</span>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': body.invalid && body.touched}">
            <input type="text" class="form-control" name="body" required
                   [(ngModel)]="comment.body" #body="ngModel" placeholder="Write something here..." />
            <span class="help-block" *ngIf="body.invalid && body.touched">Write something here...</span>
        </div>
        <button type="submit" class="btn btn-lg btn-block btn-primary" [disabled]="form.invalid" (click)="onSubmit()">Submit</button>
    </form>
</div>