
<div class="panel panel-primary" *ngIf="post">
    <div class="panel-heading">  Title  {{post.title}}</div>
    <div class="panel-body">
        <article><div [innerHTML]="post.body"></div></article>
    </div>
    <div class="panel-footer">
        <a class="btn btn-default" (click)="onBack">
            <i class='glyphicon glyphicon-chevron-left'></i> Back
        </a>
        
    </div>

</div>
<div *ngIf="comments.length > 0">
    <div *ngFor="let comment of comments" id="CommentDiv">
        <comment [comment]='comment'></comment>
    </div>
</div>
<add-comment [postid]='post.id' (NewComment)='onNewComment($event)'></add-comment>