@import url('../shared/forms.css');


.userrow {
    border: 3px solid #dcdcdc;
    border-radius: 7px;
    background-color: #eee;
    margin: 2px 0 0 5px;
    color: #005ea8;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    transition-duration: 0.3s;
    transition-property: transform;
}
.userrow:hover,
.userrow:focus,
.userrow:active {
        background-color: #f5f5f5;
        transform: scale(1.02);
    }

.user-info {
    font-family: sans-serif;
    color: #00008b;
}

.user-photo {
}

.user-details {
}

.searchbox {
    float: right;
}

.btn-search {
    float: left;
    width: 40px;
}



#custom-search-input {
        margin:0;
        margin-top: 10px;
        padding: 0;
    }
 
    #custom-search-input .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    #custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color:#D9230F;
        max-width: 400px
    }
 
    .search-query:focus + button {
        z-index: 3;   
    }
